$hoverColor: #ec9a86;
$baseColor: #a2c5c9;
$accentColor: #e36255;
$titleColor: #f1e0ce;
$subColor: #f3c262;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 60px;
    color: $titleColor;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline 5px $accentColor;
    font-family: 'Zen Maru Gothic', sans-serif;
}

img {
    width: 100%;
    background-size: cover;
    // background-position: center top;
}

p {
    font-family: 'Zen Maru Gothic', sans-serif;
}

.parallax-content {
    min-height: 300px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    width: 100%;
    background-image: url(../img/mainvisual.jpg);
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 30px;
    margin-bottom: 30px;
    // 上部の余白を設定
    padding-top: 20px;
    ul {
        display: flex;
        justify-content: flex-end;

        // positionはレイアウトが崩れ易いので出来るだけ使用しない
        // position: absolute;
        // top: 30px;
        // right: 100px;

        li {
            list-style: none;

            a {
                text-decoration: none;
                // メニューアイテムの間隔を少し狭くしました
                padding-right: 30px;
                color: $titleColor;
                text-shadow: 2px 2px 2px gray;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;

                &:hover {
                    color: $subColor;
                }
            }

            //a
        }

        //li
    }

    //ul
    .main-title {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        // top: 45%;
        // left: 10%;
        // 以下の方法は上下左右真ん中寄せする方法です
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 80px;
        color: $titleColor;
        text-shadow: 10px 5px 5px gray;
    }
}

main {
    width: 100%;

    .menu-catch {
        position: relative;
        align-items: center;
        background-image: url(../img/menu.jpg);

        .menu-title {
            position: absolute;
            top: 40%;
            left: 45%;
            text-shadow: 10px 5px 5px gray;
        }
    }

    .menu-detail {
        background-color: #fff;
        display: flex;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        margin-bottom: 50px;
        max-width: 1000px;
        padding: 90px 16px 150px 16px;

        .menu-column {
            justify-content: stretch;
            width: 50%;
            min-height: 600px;

            &:last-child {
                border-left: solid 1px #000;
            }

            dl {
                width: 80%;
                display: flex;
                margin-right: auto;
                margin-left: auto;
                height: 50px;
                padding-bottom: 2px;
                font-family: 'Zen Maru Gothic', sans-serif;
            }

            dt {
                border-bottom: dotted 1px gray;
                vertical-align: text-bottom;
                width: 80%;
                margin-bottom: 25px;
                font-family: 'Zen Maru Gothic', sans-serif;
            }

            dd {
                width: 20%;
                text-align: right;
                padding-top: 8px;
                font-family: 'Zen Maru Gothic', sans-serif;
            }
        }

        .menu-column-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    }

    //menu-detail
    .about-catch {
        position: relative;
        background-image: url(../img/about.jpg);

        .about-title {
            position: absolute;
            top: 45%;
            left: 40%;
            text-shadow: 10px 5px 5px gray;
        }
    }

    .about-item {
        max-width: 1000px;
        padding: 90px 16px 90px 16px;
        width: 60%;
        margin-right: auto;
        margin-left: auto;

        .about-detail {
            article {
                margin-top: 50px;

                p {
                    line-height: 2;
                    text-align: center;
                }
            }
        }

        //about-detail
        .about-more {
            text-align: center;
            margin: 50px;

            .button {
                color: #000;
                font-size: 14px;
                position: relative;
                display: inline-block;
                padding: 15px 60px;
                border: 2px solid #fff;
                text-decoration: none;
                outline: none;
                transition: all .3s;
            }

            .button::before {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 2;
                content: '';
                transition: all .3s;
            }

            .button::after {
                position: absolute;
                right: 0px;
                bottom: 0px;
                z-index: 2;
                content: '';
                transition: all .3s;
            }

            .button::before {
                border-top: 2px solid $baseColor;
                border-left: 2px solid $baseColor;
                width: 20px;
                height: 20px;
            }

            .button::after {
                border-right: 2px solid $baseColor;
                border-bottom: 2px solid $baseColor;
                width: 20px;
                height: 20px;
            }

            .button:hover::after,
            .button:hover::before {
                width: 99%;
                height: 95%;
            }
        }
    }


    .location-catch {
        position: relative;
        background-image: url(../img/location.jpg);

        .location-title {
            position: absolute;
            top: 45%;
            left: 40%;
            text-shadow: 10px 5px 5px gray;
        }
    }

    .access-info {
        margin: 50px;

        .access-wrap {
            max-width: 1000px;
            padding: 50px 16px 50px 16px;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            text-align: center;

            iframe {
                margin-top: 50px;
                margin-bottom: 50px;
                margin-right: auto;
                margin-left: auto;
                width: 80%;
                filter: grayscale(100%);
            }

            .access {
                p {
                    margin: 20px;
                }
            }
        }
    }
}

footer {
    height: 100px;
    text-align: center;
    padding-top: 30px;

    span {
        vertical-align: middle;
    }
}


@media (max-width:800px) {
    body {
        header {
            height: 100vh;
            margin-bottom: 20px;

            .main-title {
                object-fit: cover;
                font-size: 40px;
                text-align: center;
                // タイトルを真ん中寄せにしたいので不要
                // left: 33%;
            }

            .main-visual {
                height: auto;
                // width: auto;
            }

            ul {
                // 横幅指定は不要です
                // width: 295px;
                right: 0;
                margin-right: auto;
                margin-left: auto;

                li {
                       // 横幅指定は不要です
                    // width: 80px;
                }
            }

            //ul
        }

        //header
        main {
            .menu-catch {
                width: 100%;
                position: relative;

                .menu-title {
                    font-size: 35px;
                    text-align: center;
                    position: absolute;
                    left: 33%;
                }
            }

            //menu-catch
            .menu-detail {
                display: block;
                width: 100%;

                .menu-column {
                    margin-right: auto;
                    margin-left: auto;
                    width: 100%;

                    &:last-child {
                        border-left: none;
                    }

                    dl {
                        height: 70px;
                        vertical-align: baseline;
                    }
                }

                //menu-column
            }

            //menu-detail
            .about-catch {
                .about-title {
                    font-size: 35px;
                    left: 33%;
                }
            }

            .about-item {
                width: 100%;

                .about-detail {
                    ul {
                        display: block;
                    }
                }

                //about-detail
            }

            //about-item


            .location-catch {
                .location-title {
                    font-size: 35px;
                    left: 33%;
                }
            }

            //location-catch

            .access-info {
                margin-left: auto;
                margin-right: auto;

                h3 {
                    font-size: 25px;
                }

                .access-wrap {
                    margin-top: 0;
                    padding-top: 0;
                    padding-bottom: 0;

                    .access {
                        p {
                            font-size: 13px;
                        }
                    }
                }
            }

            //access info
        }

        //main
    }

    //body
    footer {
        height: 50px;
    }
}
